.body {
  background-color: rgb(187, 240, 88);
}

.cardInfo {
  background-color: rgb(187, 240, 88);
}

h6{
  color: green;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size:25px !important;
  font-weight: blod;
}

.btn-secondary {
  color:red !important;
  background-color:#f0f04d !important;
  border-color:#0a0a0a !important;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 }
 .btn-secondary:hover {
  color:red !important;
  background-color:rgb(219, 230, 126) !important;
  border-color:#0a0a0a !important;
 }

 h4{
  color: rgb(8, 175, 22);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size:35px !important;
  font-weight: blod;
}

